@import "vue3-toastify/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    color-scheme: dark;
}

@layer base {
    #app {
        @apply h-full;
    }

    main:not(.admin-main) {
        @apply text-white mx-auto;
    }

    main .body {
        @apply py-4;
    }

    .logo {
        @apply block cursor-pointer hover:bg-primary-dark transition duration-150 ease-in
        md:px-4 md:py-2;
    }

    .homepage-sketch {
        @apply bg-black border-2 border-primary w-64 h-64;
    }

    .social-link {
        @apply text-2xl lg:text-4xl px-3 py-2 size-16 inline-flex items-center justify-center
        hover:bg-primary/60 hover:shadow-md hover:shadow-black hover:text-blue-300
        transition duration-150 ease-in;
    }

    .card {
        @apply border-2 border-primary-dark p-6 select-none cursor-pointer lg:w-1/2
        hover:bg-gray-800 hover:shadow-md hover:shadow-black
        transition duration-150 ease-in;
    }

    .card-link {
        @apply p-2 inline-flex text-white hover:shadow-sm hover:shadow-black hover:bg-primary/60
        transition duration-150 ease-in;

        & > svg {
            @apply text-2xl;
        }
    }

    .link {
        @apply font-bold text-primary border-b-2 border-transparent cursor-pointer
        hover:border-blue hover:text-white
        transition duration-150 ease-in;
    }

    input:disabled {
        @apply bg-gray-700/70 cursor-not-allowed;
    }

    a.external::after {
        content: "\f08e";
        font: normal normal normal 14px/1 FontAwesome;
    }

    code {
        @apply overflow-x-scroll max-w-[100ch] !px-3 !py-2;
    }

    .breadcrumb {
        @apply text-gray-300 hover:text-white hover:underline;
        @apply transition duration-150 ease-in;

        & .active {
            @apply font-medium text-white hover:underline;
        }
    }
}

.table-of-contents {
    @apply list-none space-y-1 mb-6 bg-gray-800 shadow shadow-black p-6;
}

.table-of-contents li {
    @apply text-primary font-display;
}

.table-of-contents li:first-of-type::before {
    content: 'Contents';
    @apply font-semibold font-display uppercase block text-sm text-white mb-2;
}

.table-of-contents li a::before {
    content: '/#/';
    @apply text-red text-lg;
}

.heading-permalink {
    @apply no-underline font-display text-secondary;
}

.article {
    h1:not(:first-child), h2, h3, h4, h5, h6 {
        @apply !text-primary font-display;
    }
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply !p-0 !m-0;
}

time {
    @apply font-bold cursor-pointer hover:text-blue transition duration-150 ease-in;
}

.md-editor-toolbar-item-name {
    @apply !text-xs !capitalize;
}

.md-editor-icon {
    @apply !size-6 p-0 m-0;
}

.loading::after {
    display: inline-block;
    animation: dotty steps(1, end) 1500ms infinite;
    content: '';
}

@keyframes dotty {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '';
    }
}

code:not(pre) {
    @apply bg-primary/40;
    padding: 0.2em;
    border-radius: 0.6em;
}
