@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: only dark;
    --primary: #89b4fa;
    --primary-dark: #527dc2;
    --secondary: #fb7185;
    --secondary-dark: #c25472;
    --accent: #a6e3a1;
    --accent-dark: #5ead57;
    --black: #000000;
    --gray: #525252;
    --pale: #d4d4d4;
    --white: #cdd6f4;
    --c-light: #585b70;
    --c-dark: #313244;
    --c-darkest: #1e1e2e;
    --border-thickness: 4px;
    --border-color: var(--primary);
    --box-shadow: .4rem .4rem 0 0;
}

body {
    font-size: 16px;
}

main {
    color: var(--white);
    max-width: 72rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.font-black {
    font-weight: 900;
}

.text-blue {
    color: var(--primary);

    &.dark {
        color: var(--primary-dark);
    }
}

.text-red {
    color: var(--secondary);

    &.dark {
        color: var(--secondary-dark);
    }
}

.text-green {
    color: var(--accent);

    &.dark {
        color: var(--accent-dark);
    }
}

.logo {
    padding: 1rem 1.5rem;
    cursor: pointer;
    margin-right: .765rem;

    &:hover {
        background-color: var(--c-dark);
    }
}

.animate-fade-in-out {
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


nav {
    background-color: #181825;

    & .nav-container {
        margin: 0 auto;
        max-width: 72rem;

        & div {
            display: inline-flex;
            align-items: center;
        }
    }
}

.link {
    font-weight: 600;
    padding: 1.35rem 2rem;
    display: inline-flex;
    color: var(--primary);
    margin: 0 .625rem;

    &:hover {
        color: var(--white);
        background-color: var(--c-dark);
    }

    &::before {
        color: var(--secondary);
        content: '/';
        padding-right: .265rem;

        &:hover {
            color: var(--secondary);
        }
    }

    @apply animate-fade-in-out;

    &.router-link-active {
        background-color: var(--c-dark);
        color: var(--white);

        &::before {
            color: var(--secondary)
        }
    }
}
